/* import police Poppins depuis fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Réinitialise les marges, paddings + police de la page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

/************************************************** Navbar */
#navbar {
    background: #000;
    height: 67px;
}
#navbar img {
    max-width: 248px;
    max-height: 67px;
    margin: 0 250px;
}
#navbar ul {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
}
#navbar ul li:nth-child(n+2) {
    margin-right: 139px;
}
#navbar a {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}
#navbar li {
    list-style: none;
}

/*********************************************** Header */
#header {
    position: relative;
    height: 489px;
    background: rgba(0, 0, 0, 0.4) url(../img/cinema.jpg) no-repeat center;
    background-blend-mode: darken;
    background-size: cover;
    color: #FFF;
}
.header {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 661px;
    max-height: 313px;
    top: 130px;
    left: 305px;
}
#header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    font-size: 12px;
    font-weight: 600;
}
#header li:not(:first-child)::before {
    content: "•";
    margin-right: 10px;
}
#header h1 {
    font-size: 80px;
    font-weight: 800;
    margin-top: -20px;
}
#header p {
    font-size: 30px;
    font-weight: 200;
    margin-left: 15px;
}
#header input {
    background: #E51937;
    margin-left: 15px;
    width: 339px;
    height: 53px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
}
#header input:hover {
    background: #7D0B1C;
}
#header input[value] {
    margin-top: 37px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}


/************************************** Films */

#listFilms {
    position: relative;
    height: 1159px;
}
.header-films {
    max-width: 1920px;
    height: 155px;
}
.header-films h2 {
    position: absolute;
    top: 78px;
    left: 151px;
    font-size: 40px;
    font-weight: 700;
    /* color: #FFF; */
}
.header-films .whiteline {
    position: absolute;
    border: 1px solid #000;
    width: 85.417%;
    top: 153px;
    left: 151px;
}
#container-film {
    position: relative;
    width: auto;
}
#caroussel {
    width: fit-content;
    height: 850px;
}
#listFilms .cards {
    height: 850px;
    padding: 0 34px;
    display: inline-flex;
}
.chevron {
    display:flex;
    place-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #1F1C1C;
    top:267px;
    z-index: 1;
    cursor: pointer;
}
.fa-chevron-left, .fa-chevron-right {
    font-size: 27px;
    color: #FFF;
}
#chevron-gauche {
    position:absolute;
    left: 0;
}
#chevron-droit {
    position:absolute;
    right: 0;
}
#listFilms .card-film {
    position: relative;
    width: 367px;
    height: 850px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#listFilms .cards img {
    position: absolute;
    top: 97px;
    left: 44px;
    width: 279px;
    height: 378px;
}
#listFilms .info-film {
    position: absolute;
    padding-top: 45px;
    width: 300px;
    height: 280px;
    top: 475px;
    left: 33.5px;
}
#listFilms h2 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 90px;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 42px;
}
#listFilms p {
    font-weight: 500;
    font-size: 20px;
}
#listFilms input {
    position: absolute;
    top: 780px;
    left: 55px;
    background: #E51937;
    width: 257px;
    height: 53px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
}
#listFilms input:hover {
    background: #7D0B1C;
}
#listFilms input[value] {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

/***************************************** Details Film */
#detail-film {
    background: #151313;
    color: #fff;
    min-height: 80vh;
    display: flex;
}
#detail-film img {
    margin: 92px 43px 92px 70px;
    width: auto;
    height: 600px;
}
#detail-film .details {
    padding-top: 92px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    gap: 43px;
    margin-bottom: 50px;
}
#detail-film .size {
    font-size: 24px;
    font-weight: 400;
}
#detail-film span {
    color: #828282;
}
#detail-film h2 {
    font-size: 40px;
    font-weight: 400;
}
#detail-film .note {
    font-size: 20px;
    font-weight: 400;
}
#detail-film .fa-star {
    font-size: 25px;
    padding-right: 5px;
    color: #FFC107;
}
#detail-film .genre {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
#detail-film .genre li:not(:first-child):not(:last-child)::before {
    content: ", ";
}
#detail-film .genre li:last-child:before {
    content: "\00a0";
}
#detail-film .acteur {
    list-style: none;
}
#detail-film .synopsis {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/***************************************** Footer */
#footer {
    background: #000;
    height: 194px;
}
.footer-social {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px
}
.footer-social a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border: 1px solid #FFF;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
}
#footer .bot {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    justify-content: center;
    gap: 500px
}
#footer img {
    max-width: 247px;
    max-height: 92px;
}
#footer p {
    color: #FFF;
}
.whiteline {
    border-bottom:1px solid #fff;
}